/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#messages div {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #ffffff;
}

.notice {
    background-color: #009688;
    /* Teal */
}

.error {
    background-color: #f44336;
    /* Red */
}

.alert {
    background-color: #ff9800;
    /* Orange */
}

/* Style the field wrapper */
.field_with_errors {
    display: inline-block;
    border: 2px solid #f44336;
    /* Red border to highlight the field */
    background-color: #ffebee;
    /* Light red background */
}

/* Style the input fields within the .field_with_errors wrapper */
.field_with_errors input,
.field_with_errors select,
.field_with_errors textarea {
    border-color: #f44336;
    /* Red border for the input itself */
}

/* Style the error messages */
#error_explanation {
    color: #f44336;
    /* Red text for the error messages */
    background-color: #ffebee;
    /* Light red background */
    border: 2px solid #f44336;
    /* Red border around the error message box */
    padding: 10px;
    margin-bottom: 20px;
}

#error_explanation h2 {
    text-align: left;
    margin-top: 0;
    font-size: 1.2em;
}

#error_explanation ul li {
    font-size: 1em;
    list-style-type: none;
    /* Remove list bullets */
}